@model BusLocation.Models.TrackModels
@using BusLocation.Models

@{
    ViewBag.Title = "Stwórz trase";
    List<BusStopModels> busStops = ViewBag.BusStops;
}


@using (Html.BeginForm("Create", "Track", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>TrackModels</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.NameTrack, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.NameTrack, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NameTrack, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BusStopId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <select class="form-control" name="BusStopId" size="1">
                    @foreach (var busStop in busStops)
                    {
                        <option value="@busStop.Id">@busStop.Name </option>
                    }
                </select>
            </div>
           @Html.LabelFor(model => model.TimeToNextStop, htmlAttributes: new { @class = "control-label col-md-2" })
           <div class="col-md-4">
                @Html.EditorFor(model => model.TimeToNext, new { htmlAttributes = new { @class = "form-control" } })
           </div>
          
      </div>
        <div class="form-group">
            <div class="pull-right">
                <input type="submit" name="add" value="Dodaj przystanek" class="btn btn-default" />
            </div>
        </div>
   </div>


    @*VIEW BUSSTOP*@

    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Nazwa")
            </th>
            <th>
                @Html.DisplayName("Miejscowość")
            </th>
            <th>
                @Html.DisplayName("Szerokość geo")
            </th>
            <th>
                @Html.DisplayName("Długość geo")
            </th>
        </tr>
        @if (Model != null)
        {
            foreach (var item in Model.BusStops)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Latitiude)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Longitiude)
                    </td>
                    <td>
                        @Html.ActionLink("Usuń", "Delete", "Track", new { id = item.Id }, null)
                    </td>
                </tr>
            }
        }
    </table>

    <div class="form-group">
        <div>
            <input type="submit" name="create" value="Dodaj" class="btn btn-default" />
        </div>
    </div>

}