@model BusLocation.Models.TrackModels
@using BusLocation.Models

@{
    ViewBag.Title = "Edytuj trase";
    List<BusStopModels> busStops = ViewBag.BusStops;
    List<TimeModels> times = ViewBag.Times;
    Boolean TextBoxNameEnable = ViewBag.TextBoxNameEnable;
}

<h2>Edytowanie trasy </h2>

@using (Html.BeginForm("Edit", "Track", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>TrackModels</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.NameTrack, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @if (TextBoxNameEnable)
                {
                    @Html.EditorFor(model => model.NameTrack, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NameTrack, "", new { @class = "text-danger" })
                    Session["TextBoxNameDisable"] = false;
                }
                else {
                    @Html.EditorFor(model => model.NameTrack, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                    Session["TextBoxNameDisable"] = true;
                }
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BusStopId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <select class="form-control" name="BusStopId" size="1">
                    @foreach (var busStop in busStops)
                    {
                        <option value="@busStop.Id">@busStop.Name </option>
                    }
                </select>
            </div>
            @Html.LabelFor(model => model.TimeId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <select class="form-control" name="TimeId" size="1">
                    @foreach (var time in times)
                    {
                        <option value="@time.Id">@time.value </option>
                    }
                </select>
            </div>

        </div>
        <div class="form-group">
            <div class="pull-right">
                <input type="submit" name="add" value="Dodaj przystanek" class="btn btn-default" />

            </div>
        </div>
    </div>
    
    @*VIEW BUSSTOP*@

    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Nazwa")
            </th>
            <th>
                @Html.DisplayName("Miejscowość")
            </th>
            <th>
                @Html.DisplayName("Szerokość geo")
            </th>
            <th>
                @Html.DisplayName("Długość geo")
            </th>
            <th>
                @Html.DisplayName("Czas do nastepnego przystanku")
            </th>
        </tr>
        @if (Model != null)
        {
            for (int i = 0; i < Model.BusStopsList.Count; i++)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => Model.BusStopsList[i].Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.BusStopsList[i].City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.BusStopsList[i].Latitiude)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.BusStopsList[i].Longitiude)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.TimeToNextStopsList[i].value)
                    </td>
                    <td>
                        @Html.ActionLink("Usuń", "Delete", "Track", new { id = Model.BusStopsList[i].Id, trackId = Model.Id, creat = false }, null)
                    </td>
                </tr>
            }
        }
    </table>

    <div class="form-group">
        <div>
            <input type="submit" name="create" value="Dodaj" class="btn btn-default" />
        </div>
    </div>

}