@model IEnumerable<BusLocation.Models.TrackModels>
@using BusLocation.Models

@{
    ViewBag.Title = "Trasy";
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NameTrack)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BusStopsList)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeToNextStopsList)
        </th>
        <th></th>
    </tr>
@if (Model != null)
{
    foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NameTrack)
        </td>
        <td>
            <ul>
                @if(item.BusStopsList != null)
                {
                    foreach (var busStop in item.BusStopsList)
                    {
                        <li>@busStop.Name</li>
                    }
                }
            </ul>
        </td>
        <td>
            <ul>
                @if (item.TimeToNextStopsList != null)
                {
                    foreach (var time in item.TimeToNextStopsList)
                    {
                        <li>@time.value</li>
                    }
                }
            </ul>
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Usuń", "DeleteTrack", new { id = item.Id })
        </td>
    </tr>
    }
}

</table>
<p>
    <a href="@Url.Action("Create","Track")">
        <input type="submit" name="create" value="Dodaj trase" class="btn btn-primary" />
    </a>
</p>
