@model IEnumerable<BusLocation.Models.TrackModels>
@using BusLocation.Models

@{
    ViewBag.Title = "Tracks";
}

<h2>Tracks</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NameTrack)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BusStops)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeToNextStop)
        </th>
        <th></th>
    </tr>
@if (Model != null)
{
    foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NameTrack)
        </td>
        <td>
            <ul>
                @foreach (var busStop in item.BusStops)
                {
                    // cut for brevity, need to add back more code from original
                    <li>@busStop.Name</li>
                }
            </ul>
        </td>
        <td>
        @if (item.TimeToNextStop != null)
        {
            <ul>
                @foreach (var time in item.TimeToNextStop)
                {
                    <li>@time.ToString()</li>
                }
            </ul>
        }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Delete", "DeleteTrack", new { id = item.Id })
        </td>
    </tr>
    }
}

</table>
<p>
    @Html.ActionLink("Create New", "Create","Track")
</p>
